.pokeList {
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
}

.nav {
  text-align: center;
  div button {
    margin: 0.5rem;
  }
}

button {
  margin: 0.5rem;
}
