.typePill {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  background: #dbdbdb;
  border-radius: 5px;
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.normal {
  background-color: #aaaa99;
}

.fire {
  background-color: #ff4422;
}

.water {
  background-color: #3399ff;
}

.electric {
  background-color: #ffcc33;
}

.grass {
  background-color: #77cc55;
}

.ice {
  background-color: #66ccff;
}

.fighting {
  background-color: #bb5544;
}

.poison {
  background-color: #aa5599;
}

.ground {
  background-color: #ddbb55;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ff5599;
}

.bug {
  background-color: #aabb22;
}

.rock {
  background-color: #bbaa66;
}

.ghost {
  background-color: #6666bb;
}

.dragon {
  background-color: #7766ee;
}

.dark {
  background-color: #775544;
}

.steel {
  background-color: #aaaabb;
}

.fairy {
  background-color: #ee99ee;
}
